
<header class="header">
  <div class="header-content">
    <div class="logo-section">
      <img src="./assets/uma.png" alt="Universidad de Málaga - CISA" class="header-logo">
    </div>
    <nav class="nav-menu">
      <a href="#" class="nav-item active">Dashboard</a>
      <a href="#" class="nav-item">Resultados Base de Datos</a>
    </nav>
  </div>
</header>


<main class="main-content">
  <app-dashboard></app-dashboard>
</main>


<footer class="footer">
  <div class="footer-content">
    <img src="./assets/logo.png" alt="CISA - Centro de Investigación Social Aplicada" class="footer-logo">
  </div>
</footer>